.txt-login {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 17px;
  text-align: center;
  color: #2f6b35;
  margin-top: 4rem;
}

.txt-user {
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #000000;
}

.container-input-title {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;
}

.txt-user {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #000000;
  margin: 0px;
  position: absolute;
  top: 16px;
  left: 33px;
}

.input-user {
  border: 1px px solid #6c6a6a;
  border-radius: 10px;
  padding: 6px 11px;
  color: #6d6a6a !important;
}

.input-user:focus-visible {
  outline: none !important;
}

.container-inputs {
  padding: 0px 50px;
  position: relative;
}

.btn-show-pass {
  border: none;
  background: transparent;
  position: absolute;
  right: 61px;
  top: 0.5rem;
}

.link-forgot-pass {
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.2px;
  text-decoration-line: underline;
  color: #000000;
}

.btn-login {
  background: #2f6b35;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 39px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.btn-login:disabled {
  opacity: 0.5;
}

.link-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.2px;
  text-decoration-line: underline;
  color: #000000;
}

img.floating-img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.login-body.p-0.m-0 {
  margin-top: 8rem !important;
  margin-bottom: 4rem !important;
}

img.logo {
  width: 45%;
}
