.mantenimiento {
    color: #2f6b35;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    font-size: .75rem;
    font-weight: 600;
    line-height: 15px;
    display: flex;
  }
  
  .flex-container {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 4px;
    display: flex;
  }
  
  .ellipse-48 {
    width: 320px;
    height: 127px;
    object-fit: cover;
    margin-bottom: -127px;
  }
  
  .cat-absolute-container {
    width: 320px;
    height: 127px;
    object-fit: cover;
    z-index: 1;
  }
  
  .flex-container-1 {
    width: 55%;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1px;
    margin-left: 9px;
    display: flex;
  }
  
  .mantenimiento-de-lot {
    margin-top: 1px;
  }
  
  .group-1 {
    width: 14px;
    height: 14px;
    object-fit: cover;
  }
  
  .rectangle-20 {
    text-align: center;
    color: #0009;
    width: 55%;
    background-color: #fdfdfd;
    border-radius: 5px;
    flex-direction: row;
    flex-basis: 6%;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    padding-bottom: 1px;
    padding-right: 2px;
    font-family: Montserrat;
    font-size: .875rem;
    font-weight: 600;
    line-height: 17px;
    display: flex;
  }
  
  .num-2022-2023 {
    margin-bottom: 1px;
  }
  
  .rectangle-193 {
    color: #fff;
    width: 60%;
    background-color: #2f6b35;
    border: none;
    border-radius: 8px;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3px;
    margin-left: 5px;
    padding-top: 1px;
    padding-left: 12px;
    font-family: Montserrat;
    font-size: .688rem;
    font-weight: 600;
    line-height: 13px;
    display: flex;
  }
  
  .seleccione-una-finca {
    margin-bottom: 1px;
    margin-left: 4px;
  }
  
  .eparrow-up-1 {
    width: 12px;
    height: 12px;
    object-fit: cover;
    margin-left: 1px;
  }
  
  .lotes {
    margin-top: 1px;
  }
  
  .rectangle-194 {
    width: 263px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 23px;
    margin-left: 1px;
  }
  
  .rectangle-195 {
    width: 320px;
    height: 62px;
    object-fit: cover;
    margin-top: 3px;
  }