span.txt-user-profile {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #6d6a6a;
  margin-top: 5px;
}

.container-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.flex-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 10px;
}

button#dropdown-basic {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  border-color: #fdfdfd;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 7%), 0px -1px 0px rgb(0 0 0 / 8%);
  width: 87%;
  margin: 0 auto;
}

button.mt-2.rectangle-193 {
  background: #2f6b35;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 3rem;
  font-size: 11px;
  font-family: "Montserrat";
}

.stats-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.flex-container-3 {
  display: flex;
  flex-direction: column;
}

.consulta-liquidacin {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.txt-custom01 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #2f6b35;
}

.actualizada {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #6d6a6a;
}

.num-stat {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}

span.title-stat {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
}
